/**
 * Top AND Bottom region only
 */

@include get-location($type: horizontal) {

  .escort-region-after {

    .escort-aside-display-shelf {
      position: absolute;
      left: 0;
      display: block;
      box-shadow: 0 0 0 transparentize($black, 0);
      width: calc(100% + 1em);
      max-height: 0;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0 ($padding * 2);
      opacity: 0;
      transition: opacity 200ms, box-shadow 250ms, padding 300ms, max-height 400ms;

      &.escort-active {
        max-height: calc(100vh - #{$base-size});
        box-shadow: 0 10px 20px transparentize($black, 0.5);
        padding: $padding * 2;
        opacity: 1;
      }

      .has-escort-left & {
        margin-left: $base-size * 2;
        width: calc((100% + 1.25em) - #{$base-size * 2});
      }

      .has-escort-right & {
        width: calc((100% + 1.25em) - #{$base-size * 2});
      }

      .has-escort-left.has-escort-right & {
        width: calc((100% + 1.25em) - #{$base-size * 4});
      }
    }
  }
}