/**
 * Mini region only
 */

@include get-location($type: horizontal, $region: mini) {

  .escort-region-after {

    .escort-aside-display-shelf {
      background-color: scale-color($bg-color-mini, $lightness: -12%);
      top: $base-size * 0.75;
      box-shadow: 0 15px 20px rgba($black, 0.33); // sass-lint:disable-line no-color-literals

      .has-escort-left & {
        margin-left: 0;
        width: calc(100% + 1rem);
      }

      .has-escort-right & {
        width: calc(100% + 1rem);
      }

      .has-escort-left.has-escort-right & {
        width: calc(100% + 1rem);
      }
    }
  }
}
