/**
 * Left AND Right region only
 */

@include get-location($type: vertical, $region: right) {

  &.icon-only {

    .escort-region-after {
      
      .escort-aside-display-shelf {
        right: $base-size-active * 0.997;
      }
    }
  }

  .escort-region-after {

    .escort-aside-display-shelf {
      background-color: $bg-color-right;
      right: $base-size * 1.985;

      &.escort-active {
        box-shadow: -15px 0 20px rgba($black, 0.25); // sass-lint:disable-line no-color-literals
      }

      > * {
        color: smart-scale($bg-color-right, $scale: 66%);
      }
    }
  }
}