/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-ops {
    top: 99%;
    background: smart-scale($bg-color-top, $scale: -12%);
    box-shadow: 0 4px 4px transparentize($black, 0.75);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .escort-container:hover,
  .escort-container:focus { // sass-lint:disable-line force-pseudo-nesting
      
    .escort-ops {
      
      a {
        @include button-style($region: top, $transparent: true) {
          display: block;
          padding: $padding / 3;
          border: 0;
        };
      }  
    }
  }
}
