/**
 * Left region only
 */
@include get-location($type: vertical) {

  &:hover { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      display: table;
    }
  }

  .escort-ops {
    top: 0;

    li {
      padding: 0;
    }

    li:nth-child(2) { // sass-lint:disable-line force-pseudo-nesting
      display: table-cell;
    }

    a {
      @extend %button;
      padding: 0 ($padding / 2);
      background-color: transparent;
      transition: none;
      line-height: $base-size;
      color: $primary-color;
      margin-top: 0;
    }

    > :first-child {

      a {
        padding-left: $padding / 2;
      }
    }

    > :last-child {

      a {
        padding-right: $padding / 2;
      }
    }
  }

  .escort-item:hover { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      width: 100%;

      li {
        padding: $padding / 2;
        width: 25%;
        display: table-cell;

        a {
          line-height: $base-size / 2;
        }
      }
    }
  }
}
