/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-ops {
    bottom: 100%;
    background: smart-scale($bg-color-bottom, $scale: -12%);
    box-shadow: 0 -4px 4px transparentize($black, 0.75);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .escort-item:hover { // sass-lint:disable-line force-pseudo-nesting
      
    .escort-ops {
      
      a {
        @include button-style($region: bottom, $transparent: true) {
          display: block;
          padding: $padding / 2;
        };
      }  
    }
  }
}
