/**
 * Left region only
 */
@include get-location($type: vertical) {

  &:hover,
  &:focus { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      display: table;
    }
  }

  .escort-ops {
    top: $margin / 2;
    right: $margin;
    left: auto;
    padding: 0 $padding;

    li {
      padding: 0;
    }

    li:first-child { // sass-lint:disable-line force-pseudo-nesting
      display: table-cell;
    }

    a {
      @extend %button;
      padding: 0 ($padding / 2);
      background-color: transparent;
      transition: none;
      line-height: $base-size;
      color: $primary-color;
      margin-top: 0;
    }

    > :first-child {

      a {
        padding-left: $padding / 2;
      }
    }

    > :last-child {

      a {
        padding-right: $padding / 2;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    > :nth-child(2) {

      a {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    > *:not(:last-child):not(:first-child):not(:nth-child(2)) {

      a {
        border-radius: 0;
      }
    }
  }

  .escort-sort {

    .escort-container:hover,
    .escort-container:focus { // sass-lint:disable-line force-pseudo-nesting

      .escort-ops {
        width: calc(100% - #{$base-size};
        top: 0;
        right: 0;

        li {
          padding: ($padding * 0.8) ($padding * 0.05);
          width: 25%;
          display: table-cell;

          a {
            line-height: $base-size / 2;
          }
        }
      }
    }
  }
}
