/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {

  .escort-sort {

    .escort-container:hover,
    .escort-container:focus { // sass-lint:disable-line force-pseudo-nesting
        
      .escort-ops {
        border-bottom: 1px solid darken($bg-color-right, 5%);
        background-color: $bg-color-right;

        li {
          background-color: $bg-color-right;
        }

        a {
          @include button-style($region: right, $transparent: true) {
            display: block;
            padding: $padding / 2;
          };
        }  
      }
    }
  }
}
