/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-ops {
    top: 97%;
    background: smart-scale($bg-color-mini, $scale: -12%);
    box-shadow: 0 6px 6px transparentize($black, 0.75);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .escort-sort {

    .escort-container:hover,
    .escort-container:focus { // sass-lint:disable-line force-pseudo-nesting
        
      .escort-ops {
        background: smart-scale($bg-color-mini, -2%);
        
        a {
          @include button-style($region: mini, $transparent: true) {
            display: block;
            padding: $padding / 3;
            border: 0;
          };
        }  
      }
    }
  }
}
