/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  .escort-item:hover { // sass-lint:disable-line force-pseudo-nesting
      
    .escort-ops {

      li {
        background-color: $bg-color-left;
      }

      a {
        @include button-style($region: left, $transparent: true) {
          display: block;
          padding: $padding / 2;
        };
      }  
    }
  }
}
