/**
 * Bottom region
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-type-user {

    &.escort-active {

      .escort-image {
        margin-top: $margin * -2.25;
      }
    }

    &:hover {

      .escort-image {
        box-shadow: 0 3px 15px adjust-color($bg-color-bottom, $saturation: 0%, $lightness: -20%);
      }
    }

    .escort-image {
      box-shadow: 0 1px 10px adjust-color($bg-color-bottom, $saturation: 0%, $lightness: -10%);
    }
  }
}
