/**
 * Left AND Right region
 */
@include get-location($type: vertical) {

  .show-escort-full-right &,
  .show-escort-full-left &,
  .is-escort-admin & {

    &.icon-only {

      .escort-type-user {

        .escort-image {
          margin: 0 auto;
        }

        .escort-content {

          .escort-content {
            display: block;
          }
        }
      }
    }
  }

  &.icon-only {

    .escort-type-user {

      .escort-image {
        margin-left: $margin * -0.9;
      }

      .escort-content {
        
        .escort-content {
          display: none !important;
        }
      }
    }
  }

  .escort-type-user {
    text-align: center;

    &.escort-group {

      .escort-content {

        .escort-content {
          display: block;
        }
      }
    }

    .escort-image {
      width: $base-size * 1.5;
      height: $base-size * 1.5;
      margin: 0 auto;
      display: block;
    }
  }
}
