/**
 * Mini region
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-type-user {

    &.escort-active {

      .escort-image {
        margin-top: $margin * 1.25;
      }
    }

    &:hover,
    &:focus {

      .escort-image {
        box-shadow: 0 3px 15px adjust-color($bg-color-mini, $saturation: 0%, $lightness: -12%);
      }
    }

    .escort-image {
      box-shadow: 0 1px 10px adjust-color($bg-color-mini, $saturation: 0%, $lightness: -8%);
    }

    .escort-item {
      height: $base-size * 0.75;
    }

    .escort-image {
      width: $base-size;
      height: $base-size;
      margin-top: $margin * -0.25;
    }
  }
}
