/**
 * Right region
 */
@include get-location($type: vertical, $region: right) {

  .show-escort-expanded-right &,
  .is-escort-admin & {

    &.icon-only {

      .escort-type-user {

        .escort-aside-trigger {

          .escort-image {
            margin: 0 $margin;
          }

          .escort-content {
            line-height: $padding * 5.5 !important;
          }
        }
      }
    }

    .escort-image {
      margin: 0 auto;
    }
  }

  .escort-type-user {

    &:hover,
    &:focus {

      .escort-image {
        box-shadow: 0 3px 15px adjust-color($bg-color-right, $saturation: 0%, $lightness: -12%);
      }
    }

    .escort-image {
      box-shadow: 0 1px 10px adjust-color($bg-color-right, $saturation: 0%, $lightness: -8%);
    }
  }
}
