/**
 * Left AND Right region
 */
@include get-location($type: vertical) {

  .escort-type-user {
    text-align: center;

    &.escort-group {

      .escort-content {

        .escort-content {
          display: block;
        }
      }
    }

    .escort-image {
      margin-left: $margin * -0.75;
      width: $base-size * 1.5;
      height: $base-size * 1.5;
      display: block;
    }
  }
}
