/**
 * Left AND Right region
 */
@include get-location($type: vertical) {

  .show-escort-expanded-right &,
  .show-escort-expanded-left &,
  .is-escort-admin & {

    &.icon-only {

      .escort-type-user {

        &.escort-aside-trigger {
          padding: ($padding * 0.75) 0 !important;
        }
      }
    }

    .escort-type-user {

      .escort-aside-trigger {
        padding: ($padding * 0.75) 0 !important;
      }
    }
  }

  &.icon-only {

    .escort-type-user {

      .escort-image {
        margin-left: $margin * -0.95;
        float: left;
      }

      .escort-aside-trigger {
        padding: $padding 0 !important;
      }

      .escort-content {
        width: auto;
        display: none;
      }
    }
  }

  .escort-type-user {
    text-align: center;
    transition: padding 300ms, width 300ms;

    .escort-aside-trigger {
      padding: ($padding * 0.75) 0 !important;
    }

    .escort-content {
      display: block;
      width: 100%;
      left: 0;
      text-align: center !important;
    }

    .escort-aside-display-dropdown {
      border: 0;
    }

    .escort-menu {

      li:first-child {

        a {
          border-top: 0;
        }
      }

      .escort-content {
        line-height: $base-size * 0.66 !important;
      }
    }

    .escort-image {
      width: $base-size * 1.5;
      height: $base-size * 1.5;
      margin: 0 auto;
      display: block;
    }
  }
}
