/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  .escort-type-user {

    .escort-dropdown-trigger {

      > .escort-inner {
        display: flex;
      }
    }

    &.escort-active {

      .escort-image {
        box-shadow: 0 2px 8px transparentize($black, 0.25);
      }
    }

    .escort-item {
      height: $base-size;
    }

    .escort-image {
      display: block;
      width: $base-size * 1.25;
      height: $base-size * 1.25;
      margin-top: $margin * -0.5;
      overflow: hidden;
      border-radius: 50%;
      z-index: 3;
      transition: margin 300ms, box-shadow 300ms;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .escort-top-left,
  .escort-bottom-left,
  .escort-mini-left {

    > .escort-type-user {
      padding-left: 0 !important;
    }

    .escort-type-user:not(.escort-dropdown-content) { // sass-lint:disable-line force-pseudo-nesting
      padding-left: $padding / 2;

      .escort-image {

        &+ .escort-content {
          margin-left: $margin;
        }
      }

      .escort-list {

        i {
          float: right;
          margin-left: $margin * 0.75;
          font-size: $font-size * 1.5;
        }

        a {
          text-align: right;
        }
      }
    }
  }

  .escort-top-right,
  .escort-bottom-right,
  .escort-mini-right {

    > .escort-type-user {
      padding-right: 0 !important;

      .escort-inner {
        flex-direction: row-reverse;
      }
    }

    .escort-type-user:not(.escort-dropdown-content) { // sass-lint:disable-line force-pseudo-nesting
      padding-right: $padding / 2;

      .escort-image {

        &+ .escort-content {
          margin-right: $margin;
        }
      }

      .escort-list {

        i {
          margin-right: $margin * 0.75;
          font-size: $font-size * 1.5;
          float: left;
        }
      }
    }
  }
}
