////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS
//
// -----------------------------------------------------------------------------
// Table of Contents:
//
//   1. Setting
//	 2. String Replace
//   3. Consistent EM


/////////////////////
// 1. Setting
// Retrieve setting from the regions map.
// ---------

@function setting($keys...) {
  $map: $regions;
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


/////////////////////
// 2. String Replace
// Locate a character(s) within a string and replace/remove it.
// ---------

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }
  
  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
  
  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);
    
    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i));
    }
    
    @if $character == '.' {
      $digits: 1; 
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);  
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }
  
  @return if($minus, -$result, $result);;
}

@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);
  
  @if not index(map-keys($units), $unit) {
    $_: log('Invalid unit `#{$unit}`.');
  }
  
  @return $value * map-get($units, $unit);
}


/////////////////////
// 3. Consistent EM
// Adjusted EM sizing.
// ---------

@function em-size-down($value) {
  //convert $value to a string
  $value: inspect($value);
  //remove the unit value
  $value: str-replace($value, 'em', '');
  $value: to-number($value);
  //adjust size and add unit back to $value
  $value: to-length(($value * 0.9), em);

  @return $value;
}

@function em-size-up($value) {
  //convert $value to a string
  $value: inspect($value);
  //remove the unit value
  $value: str-replace($value, 'em', '');
  $value: to-number($value);
  //adjust size and add unit back to $value
  $value: to-length(($value * 1.1), em);

  @return $value;
}
