////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS
//
// -----------------------------------------------------------------------------
// Table of Contents:
//
//   1. Setting
//	 2. Smart Scale


/////////////////////
// 1. Setting
// Retrieve setting from the regions map.
// ---------

@function setting($keys...) {
  $map: $regions;
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


/////////////////////
// 2. Smart Scale
// Scales a color to be darker if it's light, or lighter if it's dark.
// ---------

@function smart-scale($color, $scale: 75%, $threshold: 50%) {
  @if lightness($color) > $threshold {
    $scale: -$scale;
  }
  @return scale-color($color, $lightness: $scale);
}


/////////////////////
// 3. Convert Em to Px
// 
// ---------

@function em2px($target, $context: $font-size) {
  @if $target == 0 { 
    @return 0 
  }
  @return ($target / 1em) * ($context / 1em) * 16 + 0px;
}