////////////////////////////////////////////////////////////////////////////////
// Placeholders
//
// -----------------------------------------------------------------------------
// Table of Contents:
//
//   1. Button


/////////////////////
// 1. Button
// Base styles for any button type. @See button-style mixin for further styles.
// ---------

%button {
  display: inline-block;
  border-radius: $border-radius;
  padding: 0 $padding;
  line-height: $base-size * 0.75;
  margin-top: $base-size * 0.125;
  text-shadow: none;
  border: 0;
  white-space: nowrap;
  transition: background-color 300ms, color 300ms, box-shadow 300ms;

  &:visited,
  &:active {
    color: smart-scale($primary-color, $scale: 80%);
  }

  &:hover,
  &:focus {
    color: smart-scale($primary-color, $scale: 100%);
    cursor: pointer;
    text-decoration: none;
  }
}
