/////////////////////
// 1. Regions
// ---------

$regions: (
  top: (
    'type': 'horizontal',
    'position': 'top',
    'size': $base-size,
    'bg': $bg-color-top,
    'padding': $base-padding,
  ),
  bottom: (
    'type': 'horizontal',
    'position': 'bottom',
    'size': $base-size,
    'bg': $bg-color-bottom,
    'padding': $base-padding,
  ),
  left: (
    'type': 'vertical',
    'position': 'left',
    'size': $base-size,
    'size_full': $base-size-active,
    'bg': $bg-color-left,
    'padding': $base-padding,
  ),
  right: (
    'type': 'vertical',
    'position': 'right',
    'size': $base-size,
    'size_full': $base-size-active,
    'bg': $bg-color-right,
    'padding': $base-padding,
  ),
);
