////////////////////////////////////////////////////////////////////////////////
// VARIABLES
//
// -----------------------------------------------------------------------------
// Table of Contents:
//
//   1. Colors
//   2. Spacing/Sizes
//   3. Typography
//   3. Breakpoints


/////////////////////
// 1. Colors
// ---------

$primary-color: #1c98c1;
$secondary-color: #ec4431;

$bg-color-top: #2b2b2b;
$bg-color-bottom: #2b2b2b;
$bg-color-mini: #2b2b2b;
$bg-color-left: #f0f0f0;
$bg-color-right: #f0f0f0;

// $bg-color-edit: #4eca33;
// $bg-color-disable: #e1be40;
// $bg-color-delete: #e53636;

$white: #fff;
$black: #111;


/////////////////////
// 2. Spacing/Sizes
// ---------

$base-size: 3rem;
$base-size-active: $base-size * 8;

$base-padding: 1em;
$base-margin: 1em;
$padding: 1em;
$margin: 1em;
$border-radius: 3px;


/////////////////////
// 3. Typography
// ---------

$font-size: 0.85rem;

$font-family: Ubuntu;
$font-type: sans-serif;
$font-weight: 400;
$font-location: 'fonts/Ubuntu';
$font-format: ttf;

$font: $font-family, $font-type;

/////////////////////
// 4. Breakpoints
// ---------
// $breakpoints: (
//   small: 0, // converted from "0"
//   medium: 40em, // converted from "all and (min-width: 40em)"
//   large: 64em, // converted from "all and (min-width: 64em)"
//   xlarge: 120em, // converted from "all and (min-width: 120em)"
// );
// $breakpoint-classes: (small medium large xlarge);
