/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  // .escort-item {
  //   border-right: 1px dashed smart-scale($bg-color-bottom, $scale: 25%);
  //   border-left: 1px dashed smart-scale($bg-color-bottom, $scale: 25%);
  // }

  .escort-item {
    line-height: $base-size;

    &.escort-group {

      &:not(.escort-dropdown) {
        margin-right: $margin / 3;
      }
    }
  }

  .escort-link:not(.escort-type-user):not(.escort-type-branding):not(.escort-type-add):not(.is-active) {
    padding: 0 ($padding / 3);

    .escort-inner {
      @include button-style($region: bottom, $transparent: true);
      min-width: $base-size * 0.9;
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {

      .escort-content {
        color: smart-scale($bg-color-bottom, $scale: 80%);
      }
    }

    &.is-active,
    &.secondary-tab {
      background: smart-scale($bg-color-bottom, $scale: 5%);
    }

    &.is-active.primary-tab {
      margin-left: $margin / 3;
      margin-right: $margin / 3;
    }

    &.secondary-tab:last-child {
      padding-right: $padding * 0.66;
    }
  }

  .escort-active {

    .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      background: smart-scale($bg-color-bottom, $scale: -12%);
    }
  }

  .escort-content {
    color: smart-scale($bg-color-bottom, $scale: 60%);
    text-shadow: 0 1px 2px scale-color($bg-color-bottom, $lightness: -25%);
  }
}