/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {

  .show-escort-expanded-right.escort-right-icon-only &,
  .is-escort-admin & {

    .escort-item { // sass-lint:disable-line force-pseudo-nesting
      width: $base-size-active !important;

      .escort-content {

        .escort-content {
          display: inline-block;
        }
      }

      .escort-content {
        display: inline-block;
        margin-top: 0;
      }

      .escort-icon {
        width: $base-size * 1.25;
      }

      .escort-content {
        padding: 0 !important;
        line-height: $base-size * 0.66 !important;
      }
    }
  }

  &.icon-only {

    .escort-item {

      .escort-content {
        white-space: nowrap;
      }
    }

    .show-escort-expanded-right.escort-right-icon-only & {

      .escort-item { // sass-lint:disable-line force-pseudo-nesting
        width: $base-size-active;

        .is-escort-admin & {
          width: $base-size-active;
        }
      }
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting
    border-top: 1px solid lighten($bg-color-right, 5%); // sass-lint:disable-line no-color-literals
    border-bottom: 1px solid darken($bg-color-right, 5%); // sass-lint:disable-line no-color-literals
  }

  .escort-right-bottom {
    border-top: 1px solid darken($bg-color-right, 5%);
  }

  .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
    @include button-style($region: right, $transparent: true);

    &:hover,
    &:focus {

      .escort-content {
        color: smart-scale($bg-color-right, $scale: 80%);
      }
    }
  }

  .escort-content {
    color: smart-scale($bg-color-right, $scale: 60%);
    text-shadow: 0 1px 2px scale-color($bg-color-right, $lightness: -25%);
  }
}
