/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-item {
    line-height: $base-size * 0.66;
    min-width: $base-size * 0.85;
  }

  .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {
      background: smart-scale($bg-color-mini, $scale: -12%);

      .escort-content {
        color: smart-scale($bg-color-mini, $scale: 80%);
      }
    }

    &.is-active {
      background: smart-scale($bg-color-mini, $scale: 5%);
    }
  }

  .escort-active {

    .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      background: smart-scale($bg-color-mini, $scale: -12%);
    }
  }

  .escort-content {
    color: smart-scale($bg-color-mini, $scale: 60%);
    text-shadow: 0 1px 2px adjust-color($bg-color-mini, $lightness: -25%);
  }
}