/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-item {
    line-height: $base-size * 0.75;
    height: $base-size * 0.75;
    min-width: $base-size * 0.75;
  }

  .escort-container:not(.escort-type-user):not(.escort-type-branding):not(.escort-add):not(.is-active) {
    padding: 0 0 0 ($padding / 2);

    &:last-child {
      padding-right: $padding / 2;
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover,
    &:focus {

      .escort-content {
        color: smart-scale($bg-color-mini, $scale: 80%);
      }
    }

    &.is-active,
    &.secondary-tab {
      background: smart-scale($bg-color-mini, $scale: 4%);
    }

    &.is-active.primary-tab {
      margin-left: $margin / 2;
    }

    &.secondary-tab:last-child {
      padding-right: $padding / 2;
    }
  }
  
  .escort-content {
    color: smart-scale($bg-color-mini, $scale: 60%);
    text-shadow: 0 1px 2px adjust-color($bg-color-mini, $lightness: -25%);
    vertical-align: middle;
    text-transform: uppercase;
  }
}