/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  .escort-item {
    padding: 0 $padding;
    text-align: center;
    display: block;
    line-height: $base-size;
    float: left;

    &.escort-group {
      padding: 0;
    }

    &.has-icon:not(.escort-add):not(.escort-toggle) { // sass-lint:disable-line force-pseudo-nesting

      .escort-content {
        margin-left: $margin / 2;
      }
    }

    &.escort-link:not(.escort-type-user):not(.escort-type-branding):not(.escort-type-add):not(.is-active) {

      .escort-inner {
        @extend %button;
      }
    }
  }
}
