/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  &:not(.icon-only) {

    .escort-item {

      > .escort-inner {
        padding: 0 $padding;
        width: auto !important;
      }
    }
  }

  .escort-item {
    text-align: center;
    display: block;
    line-height: $base-size;
    float: left;

    &:first-child {

      > .escort-inner {
        border-right: 0;
      }
    }
    
    &:last-child {

      > .escort-inner {
        border-left: 0;
      }
    }

    &.escort-group {
      padding: 0;
    }

    .escort-preview & {

      > .escort-inner {
        padding: 0 $padding;
      }
    }

    &.has-icon:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

      .escort-content {
        margin-left: $margin / 2;
      }
    }

    &.is-active {

      > .escort-inner {
        padding: 0 ($padding * 1.1) 0 $padding;
      }
    }

    &.escort-container:not(.escort-type-user):not(.escort-type-branding):not(.escort-add):not(.is-active) {
      padding: 0;

      &:last-child {

        > .escort-inner {
          width: $base-size;
        }
      }
    }
  }
}
