/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-item {
    line-height: $base-size * 0.75;
    height: $base-size * 0.75;
    min-width: $base-size * 0.75;
    padding: 0 ($padding * 0.66)
  }

  .escort-link:not(.escort-type-user):not(.escort-type-branding):not(.escort-type-add):not(.is-active) {
    padding: 0 0 0 ($padding / 2);

    &:last-child {
      padding-right: $padding / 2;
    }

    .escort-inner {
      @include button-style($region: mini, $transparent: true) {
        margin-top: 0 !important;
        padding: 0 ($padding * 0.66) !important;
        min-width: $base-size * 0.75;
      };
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {

      .escort-content {
        color: smart-scale($bg-color-mini, $scale: 80%);
      }
    }

    &.is-active,
    &.secondary-tab {
      background: smart-scale($bg-color-mini, $scale: 4%);
    }

    &.is-active.primary-tab {
      margin-left: $margin / 2;
    }

    &.secondary-tab:last-child {
      padding-right: $padding / 2;
    }
  }

  .escort-active {

    .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      background: smart-scale($bg-color-mini, $scale: -12%);
    }
  }

  .escort-content {
    color: smart-scale($bg-color-mini, $scale: 60%);
    text-shadow: 0 1px 2px adjust-color($bg-color-mini, $lightness: -25%);
    vertical-align: middle;
  }
}