/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  &.icon-only {

    .escort-item {

      .escort-content {
        white-space: nowrap;
      }
    }

    .show-escort-full-left & {
    
      .escort-item { // sass-lint:disable-line force-pseudo-nesting
        width: $base-size * 1.25;

        .is-escort-admin & {
          width: $base-size-active;
        }
      }
    }
  }

  .show-escort-full-left &,
  .is-escort-admin & {

    .escort-item { // sass-lint:disable-line force-pseudo-nesting
      width: $base-size-active;

      .escort-content {
        display: inline-block !important;
      }
    }
  }

  .escort-item:not(.escort-add):not(.escort-group):not(.escort-dropdown-content):not(.escort-dropdown) { // sass-lint:disable-line force-pseudo-nesting
    border-top: 1px solid lighten($bg-color-left, 5%); // sass-lint:disable-line no-color-literals
    border-bottom: 1px solid darken($bg-color-left, 5%); // sass-lint:disable-line no-color-literals
  }

  .escort-group:not(.escort-dropdown) { // sass-lint:disable-line force-pseudo-nesting

    &:first-child {
      border-top: 1px solid lighten($bg-color-left, 5%);
    }

    &:last-child {
      border-bottom: 1px solid lighten($bg-color-left, 5%);
    }
  }

  .escort-left-bottom {
    border-top: 1px solid darken($bg-color-left, 5%);

    .escort-group:not(.escort-dropdown) { // sass-lint:disable-line force-pseudo-nesting
      border-top: 1px solid darken($bg-color-left, 5%);
      border-bottom: 1px solid darken($bg-color-left, 5%);

      &:first-child {
        border-top: 0;
      }
    }
  }

  .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {

      .escort-content {
        color: smart-scale($bg-color-left, $scale: 80%);
      }
    }
  }

  .escort-content {
    color: smart-scale($bg-color-left, $scale: 60%);
    text-shadow: 0 1px 2px scale-color($bg-color-left, $lightness: -25%);
  }
}