/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-container:not(.escort-wrap):not(.escort-active) {

    > .escort-link:not(.escort-add) {

      .escort-inner {
        @include button-style($region: top, $transparent: true);
        max-height: $base-size;

        .escort-active & {
          @include button-style($region: top, $transparent: false) {
            border-color: transparent;
          };
        }
      }
    }
  }

  .escort-container.escort-active {

    > .escort-link:not(.escort-add) {

      .escort-inner {
        @include button-style($region: top, $transparent: false) {
          border-color: transparent;
        };
      }
    }
  }
  
  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover,
    &:focus {

      .escort-content {
        color: smart-scale($bg-color-top, $scale: 80%);
      }
    }

    // &.is-active,
    // &.secondary-tab {
    //   background: smart-scale($bg-color-top, $scale: 5%);
    // }

    &.secondary-tab:last-child {
      padding-right: $padding * 0.66;
    }

    .escort-inner {
      border-right: 1px solid darken($bg-color-top, 5%);
    }
  }

  .escort-content {
    font-size: $font-size * 1.1;
    line-height: $font-size * 1.1;
    color: smart-scale($bg-color-top, $scale: 60%);
    text-shadow: 0 1px 2px adjust-color($bg-color-top, $lightness: -25%);
  }
}
