/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  .escort-item {
    text-align: center;
    display: block;
    line-height: $base-size;
    float: left;

    &.escort-group {
      padding: 0;
    }

    &.has-icon:not(.escort-type-add) { // sass-lint:disable-line force-pseudo-nesting

      .escort-content {
        margin-left: $margin / 2;
      }
    }

    &:not(.escort-group) {

      > .escort-inner {
        padding: 0 $padding;
      }
    }

    // &.escort-link:not(.escort-type-user):not(.escort-type-branding):not(.escort-type-add):not(.is-active) {

    //   .escort-inner {
    //     @extend %button;
    //   }
    // }
  }
}
