/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  // .escort-item {
  //   border-right: 1px dashed smart-scale($bg-color-bottom, $scale: 25%);
  //   border-left: 1px dashed smart-scale($bg-color-bottom, $scale: 25%);
  // }

  .escort-item {
    line-height: $base-size * 0.97;
  }

  .escort-container:not(.escort-type-user):not(.escort-type-branding):not(.escort-add):not(.is-active) {

    .escort-inner {
      @include button-style($region: bottom, $transparent: true);
      max-height: $base-size;
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover,
    &:focus {

      .escort-content {
        color: smart-scale($bg-color-bottom, $scale: 80%);
      }
    }

    // &.is-active,
    // &.secondary-tab {
    //   background: smart-scale($bg-color-bottom, $scale: 5%);
    // }

    &.secondary-tab:last-child {
      padding-right: $padding * 0.66;
    }
  }

  .escort-active {

    .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      background: smart-scale($bg-color-bottom, $scale: -12%);
    }
  }

  .escort-content {
    color: smart-scale($bg-color-bottom, $scale: 60%);
    text-shadow: 0 1px 2px scale-color($bg-color-bottom, $lightness: -25%);
  }
}
