/**
 * Left AND Right region only
 */
@include get-location($type: vertical) {

  &.icon-only {

    .escort-item {
      width: $base-size;

      .is-escort-admin & {
        width: $base-size-active;
      }

      .escort-content {
        line-height: $base-size * 0.5;
        margin-top: 0;
      }
    }

    .escort-item { // sass-lint:disable-line force-pseudo-nesting
      padding: ($padding * 0.75) 0;

      .escort-content {
        display: inline-block;

        .escort-content {
          display: inline-block;
        }
      }
    }
  }

  .is-escort-admin & {

    .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      padding: $padding 0;

      .escort-content {
        text-align: left;
        display: inline-block;
      }
    }
  }

  .escort-item {
    padding: ($padding * 0.75) 0;
    display: block;
    width: $base-size * 2;
    overflow: hidden;
    text-align: left;

    .escort-content {
      display: block;
      line-height: $base-size * 0.4;
      text-align: center;
      white-space: normal;
      margin-top: $margin / 4;
    }
  }
}
