/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  .show-escort-full-left.has-escort-left-icon-only &,
  .is-escort-admin & {

    .escort-item { // sass-lint:disable-line force-pseudo-nesting
      width: $base-size-active !important;

      &:not(.escort-aside-display-dropdown) {

        .escort-content {

          .escort-content {
            display: inline-block !important;
          }
        }
      }

      .escort-content {
        display: inline-block !important;
        margin-top: 0;
      }

      .escort-icon {
        width: $base-size * 1.25;
      }

      .escort-content {
        padding: 0 !important;
        line-height: $base-size * 0.66 !important;
      }
    }
  }

  &.icon-only {

    .escort-item {

      .escort-content {
        white-space: nowrap;
      }
    }

    .show-escort-full-left.has-escort-left-icon-only & {
    
      .escort-item { // sass-lint:disable-line force-pseudo-nesting
        width: $base-size-active;

        .is-escort-admin & {
          width: $base-size-active;
        }
      }
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting
    border-top: 1px solid lighten($bg-color-left, 5%); // sass-lint:disable-line no-color-literals
    border-bottom: 1px solid darken($bg-color-left, 5%); // sass-lint:disable-line no-color-literals
  }

  .escort-left-bottom {
    border-top: 1px solid darken($bg-color-left, 5%);
  }

  .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
    @include button-style($region: left, $transparent: true);
    
    &:hover,
    &:focus {

      .escort-content {
        color: smart-scale($bg-color-left, $scale: 80%);
      }
    }
  }

  .escort-content {
    color: smart-scale($bg-color-left, $scale: 60%);
    text-shadow: 0 1px 2px scale-color($bg-color-left, $lightness: -25%);
  }
}