/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  // .escort-item {
  //   border-right: 1px dashed smart-scale($bg-color-top, $scale: 25%);
  //   border-left: 1px dashed smart-scale($bg-color-top, $scale: 25%);
  // }

  .escort-item {
    line-height: $base-size;
  }

  .escort-link:not(.escort-type-user):not(.escort-type-branding):not(.escort-type-add) {

    .escort-inner {
      @include button-style($region: top, $transparent: true);
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {
      background: smart-scale($bg-color-top, $scale: -12%);

      .escort-content {
        color: smart-scale($bg-color-top, $scale: 80%);
      }
    }

    &.is-active {
      background: smart-scale($bg-color-top, $scale: 5%);
    }
  }

  .escort-active {

    .escort-link:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting
      background: smart-scale($bg-color-top, $scale: -12%);
    }
  }

  .escort-content {
    color: smart-scale($bg-color-top, $scale: 60%);
    text-shadow: 0 1px 2px adjust-color($bg-color-top, $lightness: -25%);
  }
}