////////////////////////////////////////////////////////////////////////////////
// Utilities
// -----------------------------------------------------------------------------
// The utils/ folder gathers all Sass tools and helpers.

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/region_variables';
@import 'utils/placeholders';
@import 'utils/mixins';
@import 'utils/breakpoints';

////////////////////////////////////////////////////////////////////////////////
// COMPONENT
// -----------------------------------------------------------------------------
// For smaller components, there is the components/ folder.

@import 'components/add/add_mini';
@import 'components/dropdown/dropdown_mini';
@import 'components/grid/grid_mini';
@import 'components/icon/icon_mini';
@import 'components/item/item_mini';
@import 'components/region/region_mini';
@import 'components/sort/sort_mini';
@import 'components/user/user_mini';
