////////////////////////////////////////////////////////////////////////////////
// Utilities
// -----------------------------------------------------------------------------
// The utils/ folder gathers all Sass tools and helpers.

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/region_variables';
@import 'utils/placeholders';
@import 'utils/mixins';
@import 'utils/breakpoints';

////////////////////////////////////////////////////////////////////////////////
// COMPONENT
// -----------------------------------------------------------------------------
// For smaller components, there is the components/ folder.

@import 'components/aside/aside_bottom';
@import 'components/branding/branding_bottom';
@import 'components/dropdown/dropdown_bottom';
@import 'components/grid/grid_bottom';
@import 'components/icon/icon_bottom';
@import 'components/item/item_bottom';
@import 'components/list/list_bottom';
@import 'components/region/region_bottom';
@import 'components/sort/sort_bottom';
@import 'components/user/user_bottom';
