@include get-location($type: horizontal) {

  .escort-toggle {
    padding: 0 ($padding * 1.33);

    &[data-event="hover"] {
      padding: 0 ($padding * 1.5);
    }
  }

  &.icon-only {

    .escort-toggle {
      padding: 0 ($padding * 1.5);
    }
  }
}
