/**
 * Left AND Right region only
 */
@include get-location($type: vertical) {

  &.icon-only,
  .is-escort-admin & {

    .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

      .escort-icon {
        width: $base-size;
        text-align: center;
      }
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    &:hover,
    &:focus {

      .escort-icon {
        margin-right: $padding / 3;
      }
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    .escort-icon {
      width: $base-size * 2.025;
      display: inline-block;
      margin-right: 0;
      font-size: $font-size * 1.5;
    }
  }
}
