/**
 * Top AND Bottom region only
 */
@include get-location($type: horizontal) {

  &.icon-only {

    .escort-container:not(.escort-wrap):not(.escort-preview):not(.escort-active) {

      .escort-item.has-icon { // sass-lint:disable-line force-pseudo-nesting

        &:hover,
        &:focus {

          .escort-content {
            opacity: 1;
            height: auto;
            overflow: visible;

            &::before {
              opacity: 1;
            }
          }
        }

        .escort-content {
          margin: 0;
          height: 0;
          display: block;
          overflow: hidden;
          position: absolute;
          z-index: 2;
          left: 0;
          padding: 0 $padding;
          opacity: 0;

          &::before {
            opacity: 0;
            transition: opacity 100ms;
          }
        }
      }
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    .escort-icon {

      i {
        font-size: $font-size * 1.75;
        display: inline-block;
      }
    }
  }
}
