@include get-location($type: horizontal, $region: bottom) {

  .escort-item:not(.escort-add) {

    i {
      width: $font-size * 1.66;
    }
  }

  &.icon-only {

    .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

      &:hover {

        .escort-content {
          bottom: 95%;
        }
      }

      .escort-content {
        @include css-triangle($base-size / 5, smart-scale($bg-color-bottom, 20%), down, before) {
          top: 100%;
          position: absolute;
        };

        background-color: smart-scale($bg-color-bottom, 20%);
        bottom: 84%;
        line-height: $base-size * 0.66;
        box-shadow: 0 -2px 5px rgba($black, 0.5); // sass-lint:disable-line no-color-literals
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    .escort-bottom-left {

      .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

        .escort-inner:hover {
          border-top-right-radius: 0;
        }

        .escort-content {
          left: $margin / 8;
          border-bottom-right-radius: $border-radius;

          &::before {
            left: 0;
            border-left-width: 0;
          }
        }
      }
    }

    .escort-bottom-right {

      .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

        .escort-inner:hover {
          border-top-left-radius: 0;
        }

        .escort-content {
          left: auto;
          right: $margin / 8;
          border-bottom-left-radius: $border-radius;

          &::before {
            right: 0;
            border-right-width: 0;
          }
        }
      }
    }
  }
}
