@include get-location($type: horizontal, $region: bottom) {

  .escort-item:not(.escort-add) {

    i {
      width: $font-size * 1.66;
    }
  }

  &.icon-only {

    .escort-container:not(.escort-wrap):not(.escort-active):not(.escort-preview) {

      .escort-item.has-icon:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

        &:hover,
        &:focus {

          .escort-content {
            bottom: 95%;
          }
        }

        .escort-content {
          @include css-triangle($base-size / 5, smart-scale($bg-color-bottom, 20%), down, before) {
            top: 100%;
            position: absolute;
          };

          background-color: smart-scale($bg-color-bottom, 20%);
          bottom: 84%;
          line-height: $base-size / 2;
          box-shadow: 0 -2px 5px rgba($black, 0.5); // sass-lint:disable-line no-color-literals
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }

    .escort-bottom-left {

      .escort-container:not(.escort-wrap):not(.escort-active):not(.escort-preview) {

        .escort-item.has-icon:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

          .escort-inner:hover,
          .escort-inner:focus {
            border-top-right-radius: 0;
          }

          .escort-content {
            left: 0;
            border-bottom-right-radius: $border-radius;

            &::before {
              left: 0;
              border-left-width: 0;
            }
          }
        }
      }
    }

    .escort-bottom-right {

      .escort-container:not(.escort-wrap):not(.escort-active):not(.escort-preview) {

        .escort-item.has-icon:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

          .escort-inner:hover,
          .escort-inner:focus {
            border-top-left-radius: 0;
          }

          .escort-content {
            left: auto;
            right: 0;
            border-bottom-left-radius: $border-radius;

            &::before {
              right: 0;
              border-right-width: 0;
            }
          }
        }
      }
    }
  }
}
