/**
 * Left AND Right region only
 */
@include get-location($type: vertical) {

  &.icon-only {

    .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

      .escort-icon {
        width: $base-size;
      }
    }
  }

  .escort-item:not(.escort-add):not(.escort-group) { // sass-lint:disable-line force-pseudo-nesting

    &:hover {

      .escort-icon {
        margin-right: $padding / 3;
      }
    }
  }

  .escort-item:not(.escort-add) { // sass-lint:disable-line force-pseudo-nesting

    .escort-icon {
      width: $base-size * 2;
      display: inline-block;
      margin-right: 0;

      i {
        font-size: $font-size * 1.75;
      }
    }
  }
}
