@include get-location($type: horizontal, $region: mini) {

  .escort-item:not(.escort-add):not(.escort-group) {

    .escort-icon {

      i {
        font-size: $font-size * 1.2;
        vertical-align: middle;
      }
    }
  }

  &.icon-only {

    .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

      &:hover {

        .escort-content {
          top: 90%;
        }
      }

      .escort-content {
        @include css-triangle($base-size / 5, smart-scale($bg-color-mini, 20%), up, before) {
          bottom: 100%;
          position: absolute;
        };

        background-color: smart-scale($bg-color-mini, 20%);
        top: 80%;
        line-height: $base-size / 2;
        box-shadow: 0 2px 5px rgba($black, 0.5); // sass-lint:disable-line no-color-literals
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    .escort-mini-left {

      .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

        .escort-inner:hover {
          border-bottom-right-radius: 0;
        }

        .escort-content {
          left: 0;
          border-top-right-radius: $border-radius;

          &::before {
            left: 0;
            border-left-width: 0;
          }
        }
      }
    }

    .escort-mini-right {

      .escort-link.has-icon:not(.escort-add):not(.is-active) { // sass-lint:disable-line force-pseudo-nesting

        .escort-inner:hover {
          border-bottom-left-radius: 0;
        }
        
        .escort-content {
          left: auto;
          right: 0;
          border-top-left-radius: $border-radius;

          &::before {
            right: 0;
            border-right-width: 0;
          }
        }
      }
    }
  }
}
