/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-menu {

    > li {

      > ul {
        bottom: $base-size * 0.9;
        box-shadow: 0 -5px 6px transparentize($black, 0.75);
        background: smart-scale($bg-color-bottom, $scale: 1%);
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
  }
}
