/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-menu {

    > li {
      display: inline-block;
      float: left;
      position: relative;

      &:hover {

        > .escort-aside-display-dropdown {
          bottom: $base-size * 0.97;
        }
      }

      > .escort-aside-display-dropdown {
        bottom: 85%;
      }
    }
  }
}
