/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal, $region: top) {

  .escort-menu {

    > li {
      display: inline-block;
      float: left;
      position: relative;

      &:hover {

        > .escort-aside-display-dropdown {
          top: $base-size * 0.97;
        }
      }

      > .escort-item {

        .escort-inner {
          @include button-style($region: top, $transparent: true);
        }
      }

      > .escort-aside-display-dropdown {
        top: 85%;
      }

      li:hover {

        > .escort-item {

          .escort-inner {
            background-color: $bg-color-top;
          }
        }

        li:hover {
        
          > .escort-item {

            .escort-inner {
              background-color: lighten($bg-color-top, 6%) !important;
            }
          }
        }
      }
    }
  }
}
