/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-menu {

    > li {

      &:hover {

        > .escort-aside-display-dropdown {
          top: $base-size * 0.75;
        }
      }

      > .escort-aside-display-dropdown {
        top: 85%;

        .escort-aside-display-dropdown {
          top: 0;
        }
      }

      li:hover {

        > .escort-item {

          .escort-inner {
            background-color: $bg-color-mini;
          }
        }

        li:hover {
        
          > .escort-item {

            .escort-inner {
              background-color: lighten($bg-color-mini, 6%) !important;
            }
          }
        }
      }
    }
  }
}
