////////////////////////////////////////////////////////////////////////////////
// ADD
// -----------------------------------------------------------------------------
// Styles for add escort widget button on the admin page

.escort-item {

  &.escort-add {
    text-align: center;

    > .escort-inner {
      @extend %button;
      color: smart-scale($primary-color, $scale: 80%);
      margin: 0;
      line-height: $base-size / 2;
      padding: 0 ($padding * 0.75);
    }

    .escort-icon {

      i {
        font-size: $font-size * 0.75;
        vertical-align: baseline;
      }
    }
  }
}
