////////////////////////////////////////////////////////////////////////////////
// ADMIN
// -----------------------------------------------------------------------------
// Styles applied when in admin mode.

.is-escort-admin {

  .escort-item {
    
    .escort-drag {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-indent: -1000px;
      cursor: move;
    }
  }

  @each $region, $settings in $regions {

    /**
     * In admin mode we want the vertical panels expanded by default
     */
    .escort-#{$region} {

      @if map-get($settings, type) == 'vertical' {
        width: map-get($settings, size_full);
      }
    }

    /**
     * In admin mode we want elements fully expanded so the wrapper needs to accomodate
     */
    &.has-escort-#{$region} {

      .escort-wrapper {

        @if map-get($settings, type) == 'vertical' {

          @if map-get($settings, position) == 'left' {
            left: map-get($settings, size_full);
          }

          @if map-get($settings, position) == 'right' {
            right: map-get($settings, size_full);
          }
        }
      }
    }
  }
}
