////////////////////////////////////////////////////////////////////////////////
// ADMIN
// -----------------------------------------------------------------------------
// Styles applied when in admin mode.

.is-escort-admin {

  .escort-left-bottom,
  .escort-right-bottom {
    border-top: 0;
  }

  @each $region, $settings in $regions {

    /**
     * In admin mode we want the vertical panels expanded by default
     */
    .escort-#{$region} {

      @if map-get($settings, type) == 'vertical' {
        width: map-get($settings, size_full);
      }
    }

    /**
     * In admin mode we want elements fully expanded so the wrapper needs to accomodate
     */
    &.has-escort-#{$region} {

      .escort-wrapper {

        @if map-get($settings, type) == 'vertical' {

          @if map-get($settings, position) == 'left' {
            left: map-get($settings, size_full);
          }

          @if map-get($settings, position) == 'right' {
            right: map-get($settings, size_full);
          }
        }
      }
    }
  }
}
