////////////////////////////////////////////////////////////////////////////////
// ADMIN
// -----------------------------------------------------------------------------
// Styles applied to the aside display mode for widgets/escorts.

.escort-aside {

  // Callin fix here
  .escort-aside-trigger {
    
    .escort-aside-close {
      display: none !important;
    }
  }

  &.escort-active:not(.escort-aside-display-dropdown) {

    .escort-aside-trigger {

      .micon:not(.escort-aside-close) {
        display: none !important;
      }

      .micon.escort-aside-close {
        display: inline-block !important;
      }
    }
  }
}

.escort-aside-content {
  opacity: 0;

  &.escort-active {
    opacity: 1;
  }
}

.escort-region-after {

  .escort-aside-display-shelf {
    transition: width 300ms, max-height 300ms, padding 300ms, left 300ms, right 300ms, box-shadow 300ms;
  }
}
