////////////////////////////////////////////////////////////////////////////////
// ADMIN
// -----------------------------------------------------------------------------
// Styles applied to the aside display mode for widgets/escorts.

.escort-aside {

  // Calin fix here
  .escort-aside-close {
    display: none;
  }

  &.escort-active {

    .micon {
      display: none;

      &.escort-aside-close {
        display: inline-block;
      }
    }
  }
}

.escort-aside-content {
  opacity: 0;

  &.escort-active {
    opacity: 1;
  }
}

.escort-region-after {

  .escort-aside-display-shelf {
    transition: width 300ms, max-height 300ms, padding 300ms, left 300ms, right 300ms, box-shadow 300ms;
  }
}
