////////////////////////////////////////////////////////////////////////////////
// Branding
// -----------------------------------------------------------------------------
// Styles for the branding/logo widget

.escort-type-branding {

  &:hover {
    
    .escort-site-slogan {
      opacity: 1;
      overflow: visible;
      height: auto;

      &:before {
        opacity: 1;
      }
    }
  }

  img {
    height: $base-size * 0.9;
    max-width: $base-size * 0.9;
    float: left;
  }

  .escort-site-name {
    margin-left: $margin / 2;
    font-weight: bold;
    font-size: $font-size * 1.1;
  }
}
