////////////////////////////////////////////////////////////////////////////////
// Branding
// -----------------------------------------------------------------------------
// Styles for the branding/logo widget

.escort-type-branding {

  &:hover,
  &:focus {
    
    .escort-site-slogan {
      opacity: 1;
      overflow: visible;
      height: auto;

      &:before {
        opacity: 1;
      }
    }
  }

  img {
    height: auto;
    width: auto;
  }

  .escort-site-name {
    text-shadow: none;
    font-weight: 500;
    font-size: $font-size * 1.1;
  }
}
