.escort-region-after {

  .views-exposed-form {
    margin: 0 0 ($margin * 2);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darken($bg-color-top, 7.5%);

    > div:not(.form-item):not(.form-actions) {
      width: 100%;
    }

    .form-item {
      flex: auto;
      flex-direction: column;
      margin: 0 0 ($margin * 2);
      max-width: 25%;

      label {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        float: none;
        color: smart-scale($bg-color-top, $scale: 80%);
        line-height: 1;
        margin-bottom: $margin / 3;
        font-size: $font-size * 1.25;
        font-weight: 400;
        transform: unset;
      }

      input {
        border: 3px solid smart-scale($bg-color-top, $scale: 8%);
        border-radius: $border-radius;
        background-color: smart-scale($bg-color-top, $scale: 15%);
        box-shadow: none;
        color: smart-scale($bg-color-top, $scale: 100%);
        font-size: $font-size * 1.25;
        height: $base-size * 0.66;
        padding: 0 $padding;

        &:focus {
          border: 3px solid $primary-color;
        }
      }

      .field-input {
        flex: auto;
      }
    }

    .form-actions {
      flex: auto;
      margin: ($margin * 1.5) 0 0;
      clear: none;
      text-align: left;
    }

    .form-submit {
      @extend %button;
      @include button-style($region: top, $transparent: true);
      line-height: $base-size * 0.85;
      background-color: $primary-color;
      color: smart-scale($primary-color, $scale: 80%);
      margin: 0 0 0 ($margin * 2);
      border: 0;
      text-transform: uppercase;
    }
  }
}
