////////////////////////////////////////////////////////////////////////////////
// Icon
// -----------------------------------------------------------------------------
// Defines styles associated with all regions

/**
 * Styles that apply to all escort regions.
 */
.escort-icon {
  text-align: center;
  line-height: 1;
  transition: margin 300ms, width 300ms;

  .micon {
    vertical-align: middle;
    text-shadow: none;
    line-height: 1;
    transition: margin 300ms, width 300ms;
  }
}
