////////////////////////////////////////////////////////////////////////////////
// ITEM
// -----------------------------------------------------------------------------
// Styles that apply globally to escort items. All position-specific styles 
// should be added in the region specific style section.

.escort-item {
  display: flex;
  transition: all 300ms;
  position: relative;

  // Link elements
  &.escort-link {
    cursor: pointer;
    text-decoration: none;
  }

  // Toggle elements
  &.escort-toggle {
    justify-content: center;

    @each $region, $settings in $regions {

      &[data-region='#{$region}'] {

        @if map-get($settings, type) == 'vertical' {
          width: map-get($settings, size);
        }

        // The active state of the MINI region toggle.
        .show-escort-mini-#{$region} & {
          color: $primary;
        }

        // The active state of the FULL region toggle.
        .show-escort-full-#{$region} & {
          color: $primary;
        }
      }
    }
  }

  // Drag
  .escort-drag {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -1000px;
    cursor: move;
  }

  // Operations
  .escort-ops {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: normal;
  }
}
