////////////////////////////////////////////////////////////////////////////////
// ITEM
// -----------------------------------------------------------------------------
// Styles that apply globally to escort items. All position-specific styles
// should be added in the region specific style section.

.escort-item {
  position: relative;
  min-width: $base-size;
  transition: border 300ms, width 300ms;

  &.escort-hidden {
    display: none !important;
  }

  &:hover,
  &:focus {
    z-index: 1;
  }

  > .escort-inner {
    max-width: 100%;
  }

  > div {
    display: block;
    white-space: nowrap;
  }

  .escort-content {
    text-decoration: none;
    text-transform: none;
  }

  .is-active &,
  .escort-active & {

    .escort-icon {
      color: $primary-color;
    }
  }
}
