////////////////////////////////////////////////////////////////////////////////
// List Dropdown Layout
// -----------------------------------------------------------------------------
// Styles for add escort widget button on the admin page

.escort-item {

  .escort-list {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;

      &:first-child {

        a {
          border-top: 0;
          padding-top: $padding * 1.5;
        }
      }

      &:last-child {

        a {
          border-bottom: 0;
          padding-bottom: $padding * 1.5;
        }
      }
    }

    a {
      display: block;
      text-align: left;
      padding: $padding;

      &:hover {

        i {
          margin-right: $padding / 3;
          color: $secondary-color;
        }
      }

      i {
        width: $base-size * 1.1;
        font-size: $font-size * 1.75;
        margin-right: 0;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        color: $primary-color;
        transition: margin 300ms;
      }
    }
  }
}
