////////////////////////////////////////////////////////////////////////////////
// Ops
// -----------------------------------------------------------------------------
// Styles for operation buttons for each escort widget on the admin page

.is-escort-admin {

  &.escort-sorting {

    .escort-ops {
      display: none !important;
    }
  }

  .escort-top-left,
  .escort-bottom-left,
  .escort-mini-left {

    .escort-ops {
      left: 0;
    }
  }

  .escort-top-right,
  .escort-bottom-right,
  .escort-mini-right {

    .escort-ops {
      right: 0;
    }
  }

  .escort-region:hover,
  .escort-region:focus { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {

      .drag {
        cursor: move;
        vertical-align: middle;
      }
    }
  }

  .escort-container:hover,
  .escort-container:focus { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      opacity: 1;
    }

    a,
    li {
      color: $white;
      transition: none;
      text-shadow: 0 1px 3px transparentize($black, 0.75);
    }
  }
}

.escort-ops {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 4;

  li {
    text-align: center;
    display: none;
    font-size: $font-size;
    text-transform: none;
  }

  .drag {
    color: $primary-color;
  }
}
