////////////////////////////////////////////////////////////////////////////////
// REGION VERTICAL
// -----------------------------------------------------------------------------
// Defines styles only associated with vertical toolbars

@include get-location($type: vertical) {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $base-size;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  font-size: $font-size * 1.1;
  box-shadow: 0 0 5px rgba($black, 0); // sass-lint:disable-line no-color-literals
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;

  .escort-section {

    &:last-child {
      margin-top: auto;
    }
  }
}

/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {
  left: 0;
  background: $bg-color-left;
  border-right: 1px solid scale-color($bg-color-left, $lightness: -10%);
  color: smart-scale($bg-color-left);

  .hide-escort-left & {
    transform: translate(-100%, 0);
  }

  .show-escort-mini-left &,
  .show-escort-full-left & {
    transform: translate(0, 0);
  }

  .show-escort-full-left & {
    width: $base-size-active;
    box-shadow: 0 0 15px rgba($black, 0.2); // sass-lint:disable-line no-color-literals
  }
}

/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {
  right: 0;
  background: $bg-color-right;
  border-left: 1px solid scale-color($bg-color-right, $lightness: -10%);
  color: smart-scale($bg-color-right);

  .hide-escort-right & {
    transform: translate(100%, 0);
  }

  .show-escort-mini-right &,
  .show-escort-full-right & {
    transform: translate(0, 0);
  }

  .show-escort-full-right & {
    width: $base-size-active;
    box-shadow: 0 0 15px rgba($black, 0.2); // sass-lint:disable-line no-color-literals
  }
}


@each $region, $settings in $regions {

  .escort-#{$region} {

    /**
     * If region is vertical.
     */
    @if map-get($settings, type) == 'vertical' {
      
      /**
       * Vertical regions can be offset by horizontal regions. We loop through
       * all regions again, and add offset.
       */
      @each $r, $s in $regions {

        @if map-get($s, type) == 'horizontal' {
          
          @if map-get($s, position) == 'top' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) &, // sass-lint:disable-line force-pseudo-nesting
            .show-escort-mini-#{$r} &,
            .show-escort-full-#{$r} & {
              top: map-get($s, size);
            }
          }

          @if map-get($s, position) == 'bottom' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) &, // sass-lint:disable-line force-pseudo-nesting
            .show-escort-mini-#{$r} &,
            .show-escort-full-#{$r} & {
              bottom: map-get($s, size);
            }
          }
        }
      }
    }
  }
}
