////////////////////////////////////////////////////////////////////////////////
// REGION Horizontal
// -----------------------------------------------------------------------------
// Defines styles only associated with horizontal regions

/**
 * Top AND Bottom region only
 */
@include get-location($type: horizontal) {
  position: absolute;
  left: 0;
  right: 0;
  height: $base-size;
  width: 100%;
  z-index: 10;
  display: flex;
  transform: translate(0, 0);

  .escort-section {
    display: inline-flex;

    &:last-child {
      margin-left: auto;
    }
  }

  /**
   * Horizontal sections
   */
  .escort-section {

    &:first-child {

      .escort-item {
        border-left: 0;
      }
    }

    &:last-child {

      .escort-item {
        border-right: 0;
      }
    }
  }
}

/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {
  top: 0;
  background: $bg-color-top;
  border-bottom: 1px solid scale-color($bg-color-top, $lightness: -10%);
  color: smart-scale($bg-color-top);

  .hide-escort-top & {
    transform: translate(0, -100%);
  }

  .show-escort-mini-top &,
  .show-escort-full-top & {
    transform: translate(0, 0);
  }
}

/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {
  bottom: 0;
  background: $bg-color-bottom;
  border-top: 1px solid scale-color($bg-color-bottom, $lightness: -10%);
  color: smart-scale($bg-color-bottom);

  .hide-escort-bottom & {
    transform: translate(0, 100%);
  }

  .show-escort-mini-bottom &,
  .show-escort-full-bottom & {
    transform: translate(0, 0);
  }
}

/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {
  top: 0;
  background: scale-color($bg-color-top, $lightness: -10%);
  border-bottom: 1px solid scale-color($bg-color-top, $lightness: -10%);
  color: smart-scale($bg-color-top);
  width: auto;
  z-index: 4;

  .has-escort-left & {
    left: $base-size;
  }

  .hide-escort-left & {
    left: 0;
  }

  .has-escort-right & {
    right: $base-size;
  }

  .hide-escort-right & {
    right: 0;
  }

  .has-escort-top & {
    top: $base-size;
  }

  .hide-escort-top & {
    top: 0;
  }
}
