////////////////////////////////////////////////////////////////////////////////
// REGION VERTICAL
// -----------------------------------------------------------------------------
// Defines styles only associated with vertical regions

@each $region, $settings in $regions {

  .escort-#{$region} {

    /**
     * If region is vertical.
     */
    @if map-get($settings, type) == 'vertical' {
      position: absolute;
      top: 0;
      bottom: 0;
      width: map-get($settings, size);
      flex-direction: column;
      overflow: hidden;
      z-index: 5;
      color: $black;
      font-size: $font-size * 1.1;

      @if map-get($settings, position) == 'left' {
        left: 0;
      }

      @if map-get($settings, position) == 'right' {
        right: 0;
        // order: 10;
      }

      /**
       * Vertical sections
       */
      .escort-section {
        flex-direction: column;

        &:first-child {

          .escort-item {
            border-top: 0;
          }
        }

        &:last-child {

          .escort-item {
            border-bottom: 0;
          }
        }
      }

      /**
       * Vertical items
       */
      .escort-item {
        padding: map-get($settings, padding) 0;
        width: map-get($settings, size_full);
        border-top: 1px dotted $black-30;
        border-bottom: 1px dotted $black-30;

        &.escort-group {
          display: block;
          border: 0;
          padding: 0;
        }
      }

      /**
       * Vertical icons
       */
      .escort-icon {
        width: map-get($settings, size);
        text-align: center;
      }

      /**
       * Vertical operations
       */
      .escort-ops {
        right: 0;
      }

      /**
       * Vertical regions can be offset by horizontal regions. We loop through
       * all regions again, and add offset.
       */
      @each $r, $s in $regions {

        @if map-get($s, type) == 'horizontal' {

          @if map-get($s, position) == 'top' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) & { // sass-lint:disable-line force-pseudo-nesting
              top: em-size-down(map-get($s, size));
            }
          }

          @if map-get($s, position) == 'bottom' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) &, // sass-lint:disable-line force-pseudo-nesting
            .show-escort-mini-#{$r} &,
            .show-escort-full-#{$r} & {
              bottom: em-size-down(map-get($s, size));
            }
          }
        }
      }
    }
  }
}
