////////////////////////////////////////////////////////////////////////////////
// REGION
// -----------------------------------------------------------------------------
// Defines styles associated with all regions

/**
 * Styles that apply to all escort regions.
 */

.has-escort {

  > .escort {
    font-size: $global-font-size;
  }
}

.escort-region {
  display: block;
  position: relative;
  z-index: 10;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  transition: all 300ms;

  > * {
    font-size: $font-size;
  }

  * {
    box-sizing: border-box;
  }
}
