////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
// -----------------------------------------------------------------------------
// Defines fonts, weights, and other character specific styles

@include font-face($font-family, $font-location, $font-weight, normal, $font-format);

.escort-region {
  font-family: $font;
  font-size: $font-size;
  font-smoothing: antialiased;

  a {
    text-decoration: none;
    color: $primary-color;
    transition: color 300ms, border 300ms, background-color 300ms, width 300ms;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      border: 0;
    }

    span {
      text-decoration: none;
      border: 0;
    }
  }
}
