////////////////////////////////////////////////////////////////////////////////
// User
// -----------------------------------------------------------------------------
// Styles for User escort and dropdown modifications

.escort-type-user {

  .escort-aside-trigger.has-image {

    .escort-image {
      display: block;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      transition: box-shadow 300ms, margin 300ms;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
