////////////////////////////////////////////////////////////////////////////////
// WRAPPER
// -----------------------------------------------------------------------------
// Defines toolbar layout and basic interactivity

.escort-wrapper {
  z-index: 0;
  position: relative;

  /**
     * Offset the main content area based on the size of each escort region
     * unless the region is set as hidden (deterined based on the
     * body.hide-escort-?).
     */
  @each $region, $settings in $regions {

    .has-escort-#{$region} & {

      @if map-get($settings, type) == 'horizontal' {

        @if map-get($settings, position) == 'mini' {
          padding-top: map-get($settings, size) * 0.75;
        }

        @if map-get($settings, position) == 'top' {
          padding-top: map-get($settings, size);
        }

        @if map-get($settings, position) == 'bottom' {
          padding-bottom: map-get($settings, size);
        }
      }

      @if map-get($settings, type) == 'vertical' {

        @if map-get($settings, position) == 'left' {
          padding-left: map-get($settings, size) * 2;
        }

        @if map-get($settings, position) == 'right' {
          padding-right: map-get($settings, size) * 2;
        }
      }
    }

    .has-escort-#{$region}-icon-only & {

      @if map-get($settings, type) == 'vertical' {

        @if map-get($settings, position) == 'left' {
          padding-left: map-get($settings, size);
        }

        @if map-get($settings, position) == 'right' {
          padding-right: map-get($settings, size);
        }
      }
    }

    /**
     * Regions can be hidden and toggled active. If they are hidden there
     * should be no offset.
     */
    .hide-escort-#{$region} & {

      @if map-get($settings, type) == 'horizontal' {

        @if map-get($settings, position) == 'top' {
          padding-top: 0;
        }

        @if map-get($settings, position) == 'bottom' {
          padding-bottom: 0;
        }
      }

      @if map-get($settings, type) == 'vertical' {

        @if map-get($settings, position) == 'left' {
          padding-left: 0;
        }

        @if map-get($settings, position) == 'right' {
          padding-right: 0;
        }
      }
    }
  }

  .has-escort-top.has-escort-mini:not(.hide-escort-mini) &,
  .has-escort-top.has-escort-mini:not(.hide-escort-top) & {
    padding-top: $base-size * 1.75;
  }
}
