/**
 * Left region
 */
@include get-location($type: vertical, $region: left) {

  .escort-container:not(.escort-wrap).escort-active {

    .escort-aside-trigger {
      border-top-color: $bg-color-left;
      background: transparent;
      background-image: none;
      box-shadow: inset 0 0 20px rgba(adjust-color($bg-color-left, $saturation: 0%, $lightness: -10%), 0.33) !important;
    }
  }

  .escort-aside-display-dropdown {
    background: smart-scale($bg-color-left, $scale: -12%);
    border-top: 1px solid darken($bg-color-left, 10%);
    box-shadow: inset 0 0 20px adjust-color($bg-color-left, $saturation: 0%, $lightness: -6%);
  }
}
