/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  &.icon-only {

    .escort-container.escort-active {

      .has-icon:not(.escort-add):not(.escort-toggle) { // sass-lint:disable-line force-pseudo-nesting

        .escort-content {
          opacity: 1;
          position: relative;
          display: inline;
          background-color: transparent !important;
          padding: 0 !important;
          margin-left: $margin !important;
          min-width: auto;
          height: auto;
          top: auto;
          bottom: auto;
          box-shadow: none;

          &:hover,
          &:focus {
            top: auto;
            bottom: auto;
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .escort-container.escort-active:not(.escort-type-user) {

    > .escort-inner {

      .escort-inner {
        padding: 0 $padding;
      }
    }
  }

  .escort-aside-display-dropdown {
    position: absolute;
    min-width: $base-size-active * 0.75;

    .escort-menu {

      li {
        float: none;
        display: block;

        > .escort-item {
          text-align: left;
        }
      }
    }
  }

  .escort-top-right,
  .escort-mini-right,
  .escort-bottom-right {

    .escort-aside-display-dropdown {
      right: 0;
    }
  }
}
