/**
 * Left AND Right region only
 */
@include get-location($type: vertical) {

  // .escort-dropdown {

  //   &.escort-active {

  //     .escort-dropdown-trigger {
  //       border: 0;
  //     }
  //   }
  // }

  .escort-aside-display-dropdown {
    width: 100%;
    height: 0;
    overflow: hidden;
    border-color: transparent;

    &.escort-active {
      height: auto;
    }

    > div {
      width: 100%;
    }
  }
}
