/**
 * Top region
 */
@include get-location($type: horizontal, $region: top) {

  .escort-container {

    &.escort-active {

      .escort-aside-trigger {

        .escort-inner {
          // background: smart-scale($bg-color-top, $scale: -12%) !important;
          box-shadow: inset 0 10px 10px rgba(adjust-color($bg-color-top, $saturation: 0%, $lightness: -8%), 0.25) !important;
        }
      }
    }
  }

  .escort-aside-display-dropdown {
    top: $base-size * 0.97;
    box-shadow: 0 5px 6px transparentize($black, 0.75);
    background: darken($bg-color-top, 2.5%);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @include css-triangle($base-size / 4, darken($bg-color-top, 2.5%), up, before) {
      content: '';
      position: absolute;
      left: $padding;
      top: ($base-size / 5) * -1;
      z-index: 1;
    }
  }
}
