/**
 * Mini region
 */
@include get-location($type: horizontal, $region: mini) {

  .escort-type-aside.escort-container {

    &.escort-active {

      .escort-aside-display-dropdown {
        top: 100%;
      }
    }
  }

  .escort-aside-display-dropdown {
    top: 90%;
    box-shadow: 0 4px 6px transparentize($black, 0.75);
    background: smart-scale($bg-color-mini, $scale: -12%);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
