/**
 * Bottom region
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-container:not(.escort-wrap).escort-active {

    .escort-aside-trigger {

      .escort-inner {
        // background: smart-scale($bg-color-bottom, $scale: -12%) !important;
        box-shadow: inset 0 -10px 20px rgba(adjust-color($bg-color-bottom, $saturation: 0%, $lightness: -10%), 0.33) !important;
      }
    }

    .escort-aside-display-dropdown {
      bottom: $base-size * 0.97;
    }
  }

  .escort-aside-display-dropdown {
    bottom: 85%;
    box-shadow: 0 -9px 12px transparentize($black, 0.8);
    background: darken($bg-color-bottom, 4%);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include css-triangle($base-size / 3, darken($bg-color-bottom, 4%), down, before) {
      content: '';
      position: absolute;
      bottom: ($base-size / 3.25) * -1;
      left: 0;
      z-index: 1;
      border-left-width: 0;
    }

    .escort-aside-display-dropdown {
      background: lighten($bg-color-bottom, 4%);

      @include css-triangle($base-size / 2, lighten($bg-color-bottom, 4%), left, before) {
        content: '';
        position: absolute;
        bottom: 0;
        left: ($base-size / 3) * -1;
        z-index: 1;
        border-top-width: $base-size / 2;
        border-bottom-width: 0;
      }

      .escort-aside-display-dropdown {
        @include css-triangle($base-size / 2, lighten($bg-color-bottom, 10%), left, before) {
          border-top-width: $base-size / 2;
          border-bottom-width: 0;
        };
        background: lighten($bg-color-bottom, 10%);

        .escort-aside-display-dropdown {
          @include css-triangle($base-size / 2, lighten($bg-color-bottom, 15%), left, before) {
            border-top-width: $base-size / 2;
            border-bottom-width: 0;
          };
          background: lighten($bg-color-bottom, 15%);
        }
      }
    }
  }

  .escort-bottom-right {

    .escort-aside-display-dropdown {
      .escort-aside-display-dropdown {

        &::before {
          right: ($base-size / 3) * -1 !important;
        }

        @include css-triangle($base-size / 2, lighten($bg-color-bottom, 4%), right, before) {
          border-top-width: $base-size / 2;
          border-bottom-width: 0;
        }

        .escort-aside-display-dropdown {
          
          @include css-triangle($base-size / 2, lighten($bg-color-bottom, 10%), right, before) {
            border-top-width: $base-size / 2;
            border-bottom-width: 0;
          }

          .escort-aside-display-dropdown {
          
            @include css-triangle($base-size / 2, lighten($bg-color-bottom, 15%), right, before) {
              border-top-width: $base-size / 2;
              border-bottom-width: 0;
            }
          }
        }
      }
    }
  }
}

