/**
 * Left region
 */
@include get-location($type: vertical, $region: left) {

  .escort-type-aside.escort-container {

    &.escort-active {

      .escort-aside-display-dropdown {
        border-top: 1px solid darken($bg-color-left, 10%);
        box-shadow: inset 0 0 20px adjust-color($bg-color-left, $saturation: 0%, $lightness: -6%);
      }
    }
  }

  .escort-aside-display-dropdown {
    background: smart-scale($bg-color-left, $scale: -12%);
    box-shadow: inset 0 0 10px adjust-color($bg-color-left, $saturation: 0%, $lightness: -6%);
  }
}
