/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {
  left: 0;
  background: $bg-color-left;
  border-right: 1px solid scale-color($bg-color-left, $lightness: -15%);
  border-left: 1px solid scale-color($bg-color-left, $lightness: -15%);
  color: smart-scale($bg-color-left);

  .hide-escort-left & {
    transform: translate(-100%, 0);
  }

  .show-escort-mini-left &,
  .show-escort-expanded-left & {
    transform: translate(0, 0);

    &.icon-only {

      .escort-section {
        width: $base-size-active;
      }
    }
  }

  .show-escort-expanded-left.escort-left-icon-only & {
    width: $base-size-active;
    box-shadow: 0 0 15px rgba($black, 0.2); // sass-lint:disable-line no-color-literals
  }
}
