////////////////////////////////////////////////////////////////////////////////
// REGION VERTICAL
// -----------------------------------------------------------------------------
// Defines styles only associated with vertical toolbars

@include get-location($type: vertical) {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $base-size * 2;
  overflow: visible;
  z-index: 5;
  font-size: $font-size * 1.1;
  box-shadow: 0 0 5px rgba($black, 0); // sass-lint:disable-line no-color-literals
  transform: translate(0, 0);

  &.icon-only {
    width: $base-size;

    .escort-scroll {
      width: $base-size + 1.5rem;
    }

    .is-escort-admin & {
      width: $base-size-active;
    }

    .show-escort-full-left &,
    .show-escort-full-right & {

      .escort-scroll {
        overflow-x: hidden;
        overflow-y: auto;
        width: $base-size-active + 1.5rem;
      }
    }
  }

  .escort-scroll {
    width: ($base-size * 2) + 1.5rem;
    padding-right: $padding * 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .escort-section {

    &.escort-right-bottom,
    &.escort-left-bottom {
      margin-top: auto;
    }
  }
}


@each $region, $settings in $regions {

  .escort-#{$region} {

    /**
     * If region is vertical.
     */
    @if map-get($settings, type) == 'vertical' {

      /**
       * Vertical regions can be offset by horizontal regions. We loop through
       * all regions again, and add offset.
       */
      @each $r, $s in $regions {

        @if map-get($s, type) == 'horizontal' {

          @if map-get($s, position) == 'top' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) &, // sass-lint:disable-line force-pseudo-nesting
            .show-escort-mini-#{$r} &,
            .show-escort-full-#{$r} & {
              top: map-get($s, size);
            }
          }

          @if map-get($s, position) == 'bottom' {
            .has-escort-#{$r}:not(.hide-escort-#{$r}) &, // sass-lint:disable-line force-pseudo-nesting
            .show-escort-mini-#{$r} &,
            .show-escort-full-#{$r} & {
              bottom: map-get($s, size) * 0.975;
            }
          }
        }
      }
    }
  }
}
