/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {
  right: 0;
  background: $bg-color-right;
  border-left: 1px solid scale-color($bg-color-right, $lightness: -15%);
  border-right: 1px solid scale-color($bg-color-right, $lightness: -15%);
  color: smart-scale($bg-color-right);

  .hide-escort-right & {
    transform: translate(100%, 0);
  }

  .show-escort-mini-right &,
  .show-escort-expanded-right & {
    transform: translate(0, 0);
  }

  .show-escort-expanded-right.escort-right-icon-only & {
    width: $base-size-active;
    box-shadow: 0 0 15px rgba($black, 0.2); // sass-lint:disable-line no-color-literals
  }
}
