////////////////////////////////////////////////////////////////////////////////
// REGION Horizontal
// -----------------------------------------------------------------------------
// Defines styles only associated with horizontal regions

/**
 * Top AND Bottom region only
 */
@include get-location($type: horizontal) {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  transform: translate(0, 0);

  .escort-scroll {
    display: flex;
  }

  .escort-section {
    display: inline-flex;

    &.escort-top-right,
    &.escort-mini-right,
    &.escort-bottom-right {
      margin-left: auto;
    }
  }
}
