/**
 * Mini region only
 */
@include get-location($type: horizontal, $region: mini) {
  top: 0;
  background: $bg-color-mini;
  height: $base-size * 0.75;
  padding: 0 ($padding / 4);
  color: smart-scale($bg-color-mini);
  width: auto;
  z-index: 4;
  font-size: $font-size * 0.8;
  letter-spacing: 0.03em;

  .has-escort-left & {
    left: $base-size * 2;
  }

  .has-escort-left-icon-only & {
    left: $base-size;
  }

  .hide-escort-left & {
    left: 0;
  }

  .has-escort-right & {
    right: $base-size * 2;
  }

  .has-escort-right-icon-only & {
    right: $base-size;
  }

  .hide-escort-right & {
    right: 0;
  }

  .has-escort-top & {
    top: $base-size;
  }

  .hide-escort-top & {
    top: 0;
  }
}
