/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {
  bottom: 0;
  background: $bg-color-bottom;
  height: $base-size;
  border-top: 1px solid scale-color($bg-color-bottom, $lightness: -10%);
  color: smart-scale($bg-color-bottom);

  .hide-escort-bottom & {
    transform: translate(0, 100%);
  }

  .show-escort-mini-bottom &,
  .show-escort-full-bottom & {
    transform: translate(0, 0);
  }
}
