<div{{ attributes.addClass('escort-region') }}>
  {% if before %}
    <div class="escort-region-before">
      {{ before }}
    </div>
  {% endif %}
  <div class="escort-container">
    <div class="escort-scroll">
    	{{ content }}
    </div>
  </div>
  {% if after %}
    <div class="escort-region-after">
      <div class="escort-scroll">
        {{ after }}
      </div>
    </div>
  {% endif %}
</div>
