/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-list {

    li {

      &:last-child {

        a {
          border-bottom: 0;
        }
      }

      .icon-label {
        color: smart-scale($bg-color-bottom, $scale: 80%);
      }
    }

    a {
      border-top: 1px solid lighten($bg-color-bottom, 5%); // sass-lint:disable-line no-color-literals
      border-bottom: 1px solid darken($bg-color-bottom, 5%); // sass-lint:disable-line no-color-literals

      &:hover {

        i {
          margin-right: $padding / 3;
        }
      }

      i {
        width: $base-size * 0.5;
        font-size: $font-size * 1.75;
        margin-right: 0;
        display: inline-block;
        vertical-align: middle;
        transition: margin 300ms;
      }
    }
  }
}
