/**
 * Left AND Right region only
 */

@include get-location($type: vertical) {

  &.icon-only {

    .escort-type-branding {

      .escort-item {

        img {
          float: left;
        }

        .escort-site-name {
          display: inline-block;
          line-height: $base-size * 1.5;
          margin-left: $margin / 2;
          margin-bottom: 0;
        }

        .escort-content {
          display: none;
          text-align: left;
        }
      }
    }
  }

  .escort-type-branding {

    .escort-item {

      .escort-site-name {
        display: block;
        line-height: $base-size / 3;
        // margin-bottom: $margin / 2;
      }

      img {
        max-height: $base-size * 1.25;
        max-width: $base-size * 1.25;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
