/**
 * Right region only
 */

@include get-location($type: vertical, $region: right) {

  .show-escort-expanded-right &,
  .is-escort-admin & {

    .escort-type-branding {

      .escort-content {
        display: inline-block;
        white-space: normal;
      }

      .escort-site-slogan {
        display: block;
      }
    }
  }
}
