@include get-location($type: horizontal, $region: bottom) {

  .escort-type-branding {

    &:hover {
    
      .escort-site-slogan {
        bottom: 100%;
      }
    }

    .escort-site-slogan {
      @include css-triangle($base-size / 4, smart-scale($bg-color-bottom, 20%), down, before) {
        position: absolute;
        top: 100%;
      };

      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      background-color: smart-scale($bg-color-bottom, 20%);
      bottom: 90%;
    }
  }

  .escort-bottom-left {

    .escort-content {

      .escort-site-slogan {

        &::before {
          left: 0;
          border-left-width: 0;
        }
      }
    }
  }

  .escort-bottom-right {

    .escort-content {

      .escort-site-slogan {
        right: 0;
        left: auto;

        &::before {
          right: 0;
          border-right-width: 0;
        }
      }
    }
  }
}
