/**
 * Left AND Right region only
 */

@include get-location($type: vertical) {

  .escort-type-branding {

    img {
      height: $base-size * 1.25;
      max-width: $base-size * 1.25;
      float: left;
    }

    .escort-site-slogan {
      display: block;
      margin-left: $base-size * 1.4;
    }
  }
}
