/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-item {

    .escort-grid {

      li {

        &:first-child {
          border-right: 1px solid smart-scale($bg-color-top, 2%);
        }

        &:nth-child(2n + 3) {
          border-right: 1px solid smart-scale($bg-color-top, 2%);
          border-top: 1px solid smart-scale($bg-color-top, 2%);
        }

        &:nth-child(2n + 4) {
          border-top: 1px solid smart-scale($bg-color-top, 2%);
        }

        &:first-child,
        &:nth-child(2) {
          border-top: 0;
        }
      }
    }
  }
}
