////////////////////////////////////////////////////////////////////////////////
// ADD
// -----------------------------------------------------------------------------
// Styles for add escort widget button on the admin page

.escort-item {

  &.escort-add {
    text-align: center;

    > div {
      @extend %button;
    }

    .escort-icon {

      i {
        font-size: $font-size * 0.75;
        vertical-align: baseline;
      }
    }
  }
}

/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  .escort-add {

    > div {
      vertical-align: middle;

      i {
        line-height: $font-size * 0.75;
      }
    }
  }
}

/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-add {

    > div {
      @include button-style($region: top);
    }
  }
}

/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-add {

    > div {
      @include button-style($region: bottom);
    }
  }
}

/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  .escort-add {

    > div {
      @include button-style($region: left);
    }
  }
}

/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {

  .escort-add {

    > div {
      @include button-style($region: right);
    }
  }
}
