////////////////////////////////////////////////////////////////////////////////
// ADD
// -----------------------------------------------------------------------------
// Styles for add escort widget button on the admin page

.escort-type-branding {

  &:hover {
    
    .escort-site-slogan {
      opacity: 1;
      overflow: visible;
      height: auto;

      &:before {
        opacity: 1;
      }
    }
  }

  img {
    height: $base-size * 0.9;
    margin-top: $base-size * 0.05;
    float: left;
  }

  .escort-site-name {
    margin-left: $margin;
    font-weight: bold;
    font-size: $font-size * 1.1;
  }

  .escort-site-slogan {
    margin: 0 !important;
    height: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    line-height: $base-size * 0.75;
    min-width: 100%;
    left: 0;
    padding: 0 $padding;
    opacity: 0;
    transition: opacity 200ms, top 300ms, bottom 300ms;

    &::before {
      opacity: 0;
      transition: opacity 100ms;
    }
  }

  .is-escort-admin & {

    .escort-site-slogan {
      display: none;
    }
  }
}


@include get-location($type: horizontal, $region: top) {

  .escort-type-branding {

    &:hover {
    
      .escort-site-slogan {
        top: 100%;
      }
    }

    .escort-site-slogan {
      @include css-triangle($base-size / 4, smart-scale($bg-color-top, 20%), up, before) {
        bottom: 100%;
        position: absolute;
      };

      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      box-shadow: 0 2px 5px rgba($black, 0.5); // sass-lint:disable-line no-color-literals
      background-color: smart-scale($bg-color-top, 20%);
      top: 90%;
    }
  }

  .escort-top-left {

    .escort-site-slogan {

      &::before {
        left: 0;
        border-left-width: 0;
      }
    }
  }

  .escort-top-right {

    .escort-site-slogan {
      right: 0;
      left: auto;

      &::before {
        right: 0;
        border-right-width: 0;
      }
    }
  }
}

@include get-location($type: horizontal, $region: bottom) {

  .escort-type-branding {

    &:hover {
    
      .escort-site-slogan {
        bottom: 100%;
      }
    }

    .escort-site-slogan {
      @include css-triangle($base-size / 4, smart-scale($bg-color-bottom, 20%), down, before) {
        top: 100%;
        position: absolute;
      };

      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      box-shadow: 0 -2px 5px rgba($black, 0.5); // sass-lint:disable-line no-color-literals
      background-color: smart-scale($bg-color-bottom, 20%);
      bottom: 90%;
    }
  }

  .escort-bottom-left {

    .escort-site-slogan {

      &::before {
        left: 0;
        border-left-width: 0;
      }
    }
  }

  .escort-bottom-right {

    .escort-site-slogan {
      right: 0;
      left: auto;

      &::before {
        right: 0;
        border-right-width: 0;
      }
    }
  }
}
