////////////////////////////////////////////////////////////////////////////////
// Dropdown
// -----------------------------------------------------------------------------
// Dropdown styles

.escort-dropdown {
  position: relative;

  .escort-dropdown-content {
    padding: 0 $base-padding;
    border: 0;
    opacity: 0;
    transition: opacity 200ms, top 300ms, bottom 300ms, padding 300ms;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;

    > div {
      white-space: normal;
      line-height: normal;
    }
  }

  &.escort-active {

    .escort-dropdown-content {
      opacity: 1;
      height: auto !important;
      padding: 0 $base-padding;
      visibility: visible;
    }
  }
}

/**
 * Top AND Bottom region
 */
@include get-location($type: horizontal) {

  .escort-dropdown-content {
    position: absolute;
    width: $base-size-active * 0.75;
  }

  .escort-top-right,
  .escort-bottom-right {

    .escort-dropdown-content {
      right: 0;
    }
  }
}

/**
 * Top region
 */
@include get-location($type: horizontal, $region: top) {

  .escort-dropdown {

    &.escort-active {

      .escort-dropdown-content {
        top: 100%;
      }
    }
  }

  .escort-dropdown-content {
    top: 90%;
    box-shadow: 0 3px 6px transparentize($black, 0.75);
    background: smart-scale($bg-color-top, $scale: -12%);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

/**
 * Bottom region
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-dropdown {

    &.escort-active {

      .escort-dropdown-content {
        bottom: 100%;
      }
    }
  }

  .escort-dropdown-content {
    bottom: 90%;
    box-shadow: 0 -3px 6px transparentize($black, 0.75);
    background: smart-scale($bg-color-bottom, $scale: -12%);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}


/**
 * Left AND Right region only
 */
@include get-location($type: vertical) {

  // .escort-dropdown {

  //   &.escort-active {

  //     .escort-dropdown-trigger {
  //       border: 0;
  //     }
  //   }
  // }

  .escort-dropdown-content {
    width: 100%;
  }
}

/**
 * Left region
 */
@include get-location($type: vertical, $region: left) {

  .escort-dropdown-content {
    background: smart-scale($bg-color-left, $scale: -12%);
    box-shadow: inset 0 0 15px darken($bg-color-left, 5%);
  }
}

/**
 * Right region
 */
@include get-location($type: vertical, $region: right) {

  .escort-dropdown-content {
    background: smart-scale($bg-color-right, $scale: -12%);
    box-shadow: inset 0 0 15px darken($bg-color-right, 5%);
  }
}
