////////////////////////////////////////////////////////////////////////////////
// ADD
// -----------------------------------------------------------------------------
// Styles for add escort widget button on the admin page

.escort-item {

  .escort-grid {
    margin: 0;
    padding: ($padding / 2) ($padding / 2) $padding;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    flex: 0 1 auto;

    ul {
      margin: 0;
      padding: $padding / 2;
      list-style: none;
      display: flex;
      flex-flow: wrap;
      flex: 0 1 auto;
    }

    li {
      width: 50%;
      flex-basis: 50%;
      text-align: center;
      background-color: transparent;
      padding: 0;
    }

    a {
      @extend %button;
      height: 88%;
      display: block;
      vertical-align: middle;
    }

    i {
      display: block;
      font-size: $font-size * 3;
    }

    .icon-label {
      display: block;
      margin-top: $margin / 2;
      white-space: normal;
      line-height: $padding * 1.25;
    }
  }
}

/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-item {

    .escort-grid {

      a {
        @include button-style($region: top) {
          padding: $padding ($padding / 2);
          margin: $margin / 2;
        }
      }
    }
  }
}

/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-item {

    .escort-grid {

      a {
        @include button-style($region: bottom) {
          padding: $padding ($padding / 2);
          margin: $margin / 2;
        }
      }
    }
  }
}

/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  .escort-item {

    .escort-grid {

      a {
        @include button-style($region: left) {
          padding: $padding ($padding / 2);
          margin: $margin / 2;
        }
      }
    }
  }
}

/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {

  .escort-item {

    .escort-grid {

      a {
        @include button-style($region: right) {
          padding: $padding ($padding / 2);
          margin: $margin / 2;
        }
      }
    }
  }
}
