////////////////////////////////////////////////////////////////////////////////
// Ops
// -----------------------------------------------------------------------------
// Styles for operation buttons for each escort widget on the admin page

.is-escort-admin {

  .escort-region:hover { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      display: table;

      .drag {
        cursor: move;
      }
    }
  }

  .escort-item:hover { // sass-lint:disable-line force-pseudo-nesting

    .escort-ops {
      width: 100%;
      opacity: 1;
    }

    a,
    li {
      color: $white;
      transition: none;
      text-shadow: 0 1px 3px transparentize($black, 0.75);
    }

    li {
      width: 25%;
      background-color: $primary-color;
      display: table-cell;
    }

    .edit { // sass-lint:disable-line force-pseudo-nesting
      background-color: $bg-color-edit;
    }

    .disable { // sass-lint:disable-line force-pseudo-nesting
      background-color: $bg-color-disable;
    }

    .delete { // sass-lint:disable-line force-pseudo-nesting
      background-color: $bg-color-delete;
    }
  }
}

.escort-ops {
  display: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  opacity: 0.75;

  a {
    display: block;
  }

  li {
    display: none;
    text-align: center;
  }

  li:nth-child(2) {
    display: table-cell;
  }
}

/**
 * Top region only
 */
@include get-location($type: horizontal, $region: top) {

  .escort-ops {
    top: 100%;
  }
}

/**
 * Bottom region only
 */
@include get-location($type: horizontal, $region: bottom) {

  .escort-ops {
    bottom: 100%;
  }
}

/**
 * Left region only
 */
@include get-location($type: vertical) {

  .escort-ops {
    top: 0;

    a {
      padding: ($padding * 1.25) ($padding / 2);
    }

    > :first-child {

      a {
        padding-left: $padding / 2;
      }
    }

    > :last-child {

      a {
        padding-right: $padding / 2;
      }
    }
  }
}

/**
 * Left region only
 */
@include get-location($type: vertical, $region: left) {

  .escort-ops {
    // @include button-style($region: left, $transparent: true) {
    //   display: none;
    //   box-shadow: 0 1px 10px transparent;
    // };
    li {
      background-color: $bg-color-left;
    }

    > :first-child {
      border-left: 1px solid smart-scale($bg-color-left, 5%);
      border-right: 1px solid smart-scale($bg-color-left, 5%);
    }

    > :nth-child(2) {
      border-right: 1px solid smart-scale($bg-color-left, 5%);
    }

    > :last-child {
      border-left: 1px solid smart-scale($bg-color-left, 5%);
      border-right: 1px solid smart-scale($bg-color-left, 5%);
    }
  }
}

/**
 * Right region only
 */
@include get-location($type: vertical, $region: right) {

  .escort-ops {
    // @include button-style($region: right, $transparent: true) {
    //   display: none;
    //   box-shadow: 0 1px 10px transparent;
    // };
    li {
      background-color: $bg-color-right;
    }

    > :first-child {
      border-left: 1px solid smart-scale($bg-color-right, 5%);
      border-right: 1px solid smart-scale($bg-color-right, 5%);
    }

    > :nth-child(2) {
      border-right: 1px solid smart-scale($bg-color-right, 5%);
    }

    > :last-child {
      border-left: 1px solid smart-scale($bg-color-right, 5%);
      border-right: 1px solid smart-scale($bg-color-right, 5%);
    }
  }
}
